<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Displays currently active wildlife for the current time">
    <meta name="viewport" content="width=device-width">
    <title>Animal Crossing New Horizons Active Bugs & Fish & Sea Creatures</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="images/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/navbar.css" type="text/css">
    <link rel="stylesheet" href="/css/tables.css" type="text/css">
    <script type="text/javascript" src="/func/sortRows.js"></script>
    <script type="text/javascript" src="/func/getTime.js"></script>
  </head>
  <body>
    <div class="menu_container">
      <ul class="menu">
        <li class="menu_button"><a href="./" class="menu_link">Home</a></li>
        <li class="menu_button"><a href="./bugs" class="menu_link">Bugs</a></li>
        <li class="menu_button"><a href="./fish" class="menu_link">Fish</a></li>
        <li class="menu_button"><a href="./sea" class="menu_link">Sea Creatures</li>
        <li class="menu_button"><a href="./active" class="menu_link">Active This Month</a></li>
        <li class="menu_button"><a href="./github" class="menu_link"><img src="images/octocat.png" id="octocat" title="github repo"></a></li>
      </ul>
    </div>
    <div class="menu_container">
      <form method="post">
        <button class="timezone_submit" onclick="getTime()" id="update" type="submit" name="timezone" value="" formaction="/active">My Local Time</button>
      </form>
    </div>
    <div class="table_container">
      <h1 class="table_headers">Bugs Currently Active: <%= currDate %> (<%= currTime %> UTC+0)</h1>
      <table id="bugs">
        <tr>
          <th onclick="sortRows('bugs', 0)">Name</th>
          <th onclick="sortRows('bugs', 1)">Image</th>
          <th onclick="sortRows('bugs', 2)">Location</th>
          <th onclick="sortRows('bugs', 3)">Months Available</th>
          <th onclick="sortRows('bugs', 4)">Time Found</th>
          <th onclick="sortRows('bugs', 5)">Price</th>
        </tr>
        <%- include("./functions/renderImages") %>
        <% for (let i = 0; i < bugdata.length; i++) { %>
        <tr>
          <td><%= bugdata[i].name %></td>
          <td><img src="/images/bugs/<%= renderImages(bugdata[i].name) %>" /></td>
          <td><%= bugdata[i].location %></td>
          <% if (bugdata[i].start_month_1 && bugdata[i].start_month_2) { %>
          <td><%= bugdata[i].start_month_1 %> - <%= bugdata[i].end_month_1 %><br><%= bugdata[i].start_month_2 %> - <%= bugdata[i].end_month_2 %></td>
          <% } else if (bugdata[i].start_month_1) { %>
          <td><%= bugdata[i].start_month_1 %> - <%= bugdata[i].end_month_1 %>
          <% } else { %>
          <td>All Year</td>
          <% } %>
          <% if (bugdata[i].start_time_1 && bugdata[i].start_time_2) { %>
          <td><%= bugdata[i].start_time_1 %> - <%= bugdata[i].end_time_1 %><br><%= bugdata[i].start_time_2 %> - <%= bugdata[i].end_time_2 %></td>
          <% } else if (bugdata[i].start_time_1) { %>
          <td><%= bugdata[i].start_time_1 %> - <%= bugdata[i].end_time_1 %>
          <% } else { %>
          <td>All Day</td>
          <% } %>
          <td><%= bugdata[i].price %></td>
        </tr>
        <% } %>
      </table>
    </div>
    <div class="table_container">
      <h1 class="table_headers">Fish Currently Active: <%= currDate %> (<%= currTime %> UTC+0)</h1>
      <table id="fish">
        <tr>
          <th onclick="sortRows('fish', 0)">Name</th>
          <th onclick="sortRows('fish', 1)">Image</th>
          <th onclick="sortRows('fish', 2)">Location [Shadow Size]</th>
          <th onclick="sortRows('fish', 3)">Months Available</th>
          <th onclick="sortRows('fish', 4)">Time Found</th>
          <th onclick="sortRows('fish', 5)">Price</th>
        </tr>
        <%- include("./functions/renderImages") %>
        <% for (let i = 0; i < fishdata.length; i++) { %>
        <tr>
          <td><%= fishdata[i].name %></td>
          <td><img src="/images/fish/<%= renderImages(fishdata[i].name) %>" /></td>
          <td><%= fishdata[i].location %> [<%= fishdata[i].shadow_size %>]</td>
          <% if (fishdata[i].start_month_1 && fishdata[i].start_month_2) { %>
          <td><%= fishdata[i].start_month_1 %> - <%= fishdata[i].end_month_1 %><br><%= fishdata[i].start_month_2 %> - <%= fishdata[i].end_month_2 %></td>
          <% } else if (fishdata[i].start_month_1) { %>
          <td><%= fishdata[i].start_month_1 %> - <%= fishdata[i].end_month_1 %>
          <% } else { %>
          <td>All Year</td>
          <% } %>
          <% if (fishdata[i].start_time_1 && fishdata[i].start_time_2) { %>
          <td><%= fishdata[i].start_time_1 %> - <%= fishdata[i].end_time_1 %><br><%= fishdata[i].start_time_2 %> - <%= fishdata[i].end_time_2 %></td>
          <% } else if (fishdata[i].start_time_1) { %>
          <td><%= fishdata[i].start_time_1 %> - <%= fishdata[i].end_time_1 %>
          <% } else { %>
          <td>All Day</td>
          <% } %>
          <td><%= fishdata[i].price %></td>
        </tr>
        <% } %>
      </table>
    </div>
    <div class="table_container">
      <h1 class="table_headers">Sea Creatures Currently Active: <%= currDate %> (<%= currTime %> UTC+0)</h1>
      <table id="sea">
        <tr>
          <th onclick="sortRows('sea', 0)">Name</th>
          <th onclick="sortRows('sea', 1)">Image</th>
          <th onclick="sortRows('sea', 2)">Shadow [Swim Speed]</th>
          <th onclick="sortRows('sea', 3)">Months Available</th>
          <th onclick="sortRows('sea', 4)">Time Found</th>
          <th onclick="sortRows('sea', 5)">Price</th>
        </tr>
        <%- include("./functions/renderImages") %>
        <% for (let i = 0; i < seadata.length; i++) { %>
        <tr>
          <td><%= seadata[i].name %></td>
          <td><img src="/images/sea/<%= renderImages(seadata[i].name) %>" /></td>
          <td><%= seadata[i].shadow_size %> [<%= seadata[i].swim_speed %>]</td>
          <% if (seadata[i].start_month_1 && seadata[i].start_month_2) { %>
          <td><%= seadata[i].start_month_1 %> - <%= seadata[i].end_month_1 %><br><%= seadata[i].start_month_2 %> - <%= seadata[i].end_month_2 %></td>
          <% } else if (seadata[i].start_month_1) { %>
          <td><%= seadata[i].start_month_1 %> - <%= seadata[i].end_month_1 %>
          <% } else { %>
          <td>All Year</td>
          <% } %>
          <% if (seadata[i].start_time_1 && seadata[i].start_time_2) { %>
          <td><%= seadata[i].start_time_1 %> - <%= seadata[i].end_time_1 %><br><%= seadata[i].start_time_2 %> - <%= seadata[i].end_time_2 %></td>
          <% } else if (seadata[i].start_time_1) { %>
          <td><%= seadata[i].start_time_1 %> - <%= seadata[i].end_time_1 %>
          <% } else { %>
          <td>All Day</td>
          <% } %>
          <td><%= seadata[i].price %></td>
        </tr>
        <% } %>
      </table>
    </div>
  </body>
</html>
