<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Animal Crossing New Horizons Active Bugs & Fish & Sea Creatures</title>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
  <script type="text/javascript" src="/func/sortRows.js"></script>
</head>
<body>
  <div class="menu_container">
    <ul class="menu">
      <li class="menu_button"><a href="./" class="menu_link">Home</a></li>
      <li class="menu_button"><a href="./bugs" class="menu_link">Bugs</a></li>
      <li class="menu_button"><a href="./fish" class="menu_link">Fish</a></li> 
      <li class="menu_button"><a href="./sea" class="menu_link">Sea Creatures</li>
      <li class="menu_button"><a href="./active" class="menu_link">Active This Month</a></li>
      <li class="menu_button"><a href="./github" class="menu_link"><img src="images/octocat.png" id="octocat" title="github"></a></li>
    </ul>
  </div>
  <div class="menu_container">
    <form method="POST">
      <label for="timezones" class="timezone_label">Timezone</label>
      <select name="timezone" class="timezone_select">
	<option value="12">UTC+12 (ANAT) [New Zealand]</option>
	<option value="11">UTC+11 (SBT) [Micronesia]</option>
	<option value="10">UTC+10 (AEST) [Melbourne]</option>
	<option value="9">UTC+9 (JST) [Tokyo]</option>
	<option value="8">UTC+8 (CST) [Beijing]</option>
	<option value="7">UTC+7 (WIB) [Jakarta]</option>
	<option value="6">UTC+6 (BST) [Bangladesh]</option>
	<option value="5">UTC+5 (UZT) [Pakistan]</option>
	<option value="4">UTC+4 (GST) [Dubai]</option>
	<option value="3">UTC+3 (MSK) [Moscow]</option>
        <option value="2">UTC+2 (CEST) [Brussels]</option>
	<option value="1">UTC+1 (BST) [London]</option>
	<option value="0">UTC+0 (GMT) [Iceland]</option>
	<option value="-1">UTC-1 (CVT) [Cape Verde]</option>
	<option value="-2">UTC-2 (WGST) [Greenland]</option>
	<option value="-3">UTC-3 (ART) [Buenos Aires]</option>
	<option value="-4">UTC-4 (EDT) [New York]</option>
	<option value="-5">UTC-5 (CDT) [Mexico City]</option>
	<option value="-6">UTC-6 (MDT) [Denver]</option>
	<option value="-7">UTC-7 (PDT) [Los Angeles]</option>
	<option value="-8">UTC-8 (AKDT) [Anchorage]</option>
	<option value="-9">UTC-9 (HDT) [Adak]</option>
	<option value="-10">UTC-10 (HST) [Honolulu]</option>
	<option value="-11">UTC-11 (NUT) [Samoa]</option>
	<option value="-12">UTC-12 (AOE) [Baker Island]</option>
      </select>
      <input class="timezone_submit" type="submit" value="Apply" formaction="/active">
    </form>
  </div>
  <div class="table_container">
    <h1 class="table_headers">Bugs Currently Active: <%= currDate %> (<%= currTime %> UTC
    <% if (Number(zone) >= 0) { %>
    +<%= zone %>)
    <% } else { %>
    <%= zone %>)
    <% } %>
    </h1>
    <table id="bugs">
      <tr>
        <th onclick="sortRows('bugs', 0)">Name</th>
        <th onclick="sortRows('bugs', 1)">Image</th>
        <th onclick="sortRows('bugs', 2)">Location</th>
        <th onclick="sortRows('bugs', 3)">Months Available</th>
        <th onclick="sortRows('bugs', 4)">Time Found</th>
        <th onclick="sortRows('bugs', 5)">Price</th>
      </tr>
      <%- include("../functions/renderImages") %>
      <% for (let i = 0; i < bugdata.length; i++) { %>
      <tr>
        <td><%= bugdata[i].name %></td>
        <td><img src="/images/bugs/<%= renderImages(bugdata[i].name) %>" /></td>
        <td><%= bugdata[i].location %></td>
        <% if (bugdata[i].start_month_1 && bugdata[i].start_month_2) { %>
        <td><%= bugdata[i].start_month_1 %> - <%= bugdata[i].end_month_1 %><br><%= bugdata[i].start_month_2 %> - <%= bugdata[i].end_month_2 %></td>
        <% } else if (bugdata[i].start_month_1) { %>
        <td><%= bugdata[i].start_month_1 %> - <%= bugdata[i].end_month_1 %>
        <% } else { %>
        <td>All Year</td>
        <% } %>
        <% if (bugdata[i].start_time_1 && bugdata[i].start_time_2) { %>
        <td><%= bugdata[i].start_time_1 %> - <%= bugdata[i].end_time_1 %><br><%= bugdata[i].start_time_2 %> - <%= bugdata[i].end_time_2 %></td>
        <% } else if (bugdata[i].start_time_1) { %>
        <td><%= bugdata[i].start_time_1 %> - <%= bugdata[i].end_time_1 %>
        <% } else { %>
        <td>All Day</td>
        <% } %>
        <td><%= bugdata[i].price %></td>
      </tr>
      <% } %>
    </table>
  </div>
  <div class="table_container">
    <h1 class="table_headers">Fish Currently Active: <%= currDate %> (<%= currTime %> UTC
    <% if (Number(zone) >= 0) { %>
    +<%= zone %>)
    <% } else { %>
    <%= zone %>)
    <% } %>
    </h1>
    <table id="fish">
      <tr>
        <th onclick="sortRows('fish', 0)">Name</th>
        <th onclick="sortRows('fish', 1)">Image</th>
        <th onclick="sortRows('fish', 2)">Location [Shadow Size]</th>
        <th onclick="sortRows('fish', 3)">Months Available</th>
        <th onclick="sortRows('fish', 4)">Time Found</th>
        <th onclick="sortRows('fish', 5)">Price</th>
      </tr>
      <%- include("../functions/renderImages") %>
      <% for (let i = 0; i < fishdata.length; i++) { %>
      <tr>
        <td><%= fishdata[i].name %></td>
        <td><img src="/images/fish/<%= renderImages(fishdata[i].name) %>" /></td>
        <td><%= fishdata[i].location %> [<%= fishdata[i].shadow_size %>]</td>
        <% if (fishdata[i].start_month_1 && fishdata[i].start_month_2) { %>
        <td><%= fishdata[i].start_month_1 %> - <%= fishdata[i].end_month_1 %><br><%= fishdata[i].start_month_2 %> - <%= fishdata[i].end_month_2 %></td>
        <% } else if (fishdata[i].start_month_1) { %>
        <td><%= fishdata[i].start_month_1 %> - <%= fishdata[i].end_month_1 %>
        <% } else { %>
        <td>All Year</td>
        <% } %>
        <% if (fishdata[i].start_time_1 && fishdata[i].start_time_2) { %>
        <td><%= fishdata[i].start_time_1 %> - <%= fishdata[i].end_time_1 %><br><%= fishdata[i].start_time_2 %> - <%= fishdata[i].end_time_2 %></td>
        <% } else if (fishdata[i].start_time_1) { %>
        <td><%= fishdata[i].start_time_1 %> - <%= fishdata[i].end_time_1 %>
        <% } else { %>
        <td>All Day</td>
        <% } %>
        <td><%= fishdata[i].price %></td>
      </tr>
      <% } %>
    </table>
  </div>
  <div class="table_container">
    <h1 class="table_headers">Sea Creatures Currently Active: <%= currDate %> (<%= currTime %> UTC
    <% if (Number(zone) >= 0) { %>
    +<%= zone %>)
    <% } else { %>
    <%= zone %>)
    <% } %>
    </h1>
    <table id="sea">
      <tr>
        <th onclick="sortRows('sea', 0)">Name</th>
        <th onclick="sortRows('sea', 1)">Image</th>
        <th onclick="sortRows('sea', 2)">Shadow [Swim Speed]</th>
        <th onclick="sortRows('sea', 3)">Months Available</th>
        <th onclick="sortRows('sea', 4)">Time Found</th>
        <th onclick="sortRows('sea', 5)">Price</th>
      </tr>
      <%- include("../functions/renderImages") %>
      <% for (let i = 0; i < seadata.length; i++) { %>
      <tr>
        <td><%= seadata[i].name %></td>
        <td><img src="/images/sea/<%= renderImages(seadata[i].name) %>" /></td>
        <td><%= seadata[i].location %> [<%= seadata[i].shadow_size %>]</td>
        <% if (seadata[i].start_month_1 && seadata[i].start_month_2) { %>
        <td><%= seadata[i].start_month_1 %> - <%= seadata[i].end_month_1 %><br><%= seadata[i].start_month_2 %> - <%= seadata[i].end_month_2 %></td>
        <% } else if (seadata[i].start_month_1) { %>
        <td><%= seadata[i].start_month_1 %> - <%= seadata[i].end_month_1 %>
        <% } else { %>
        <td>All Year</td>
        <% } %>
        <% if (seadata[i].start_time_1 && seadata[i].start_time_2) { %>
        <td><%= seadata[i].start_time_1 %> - <%= seadata[i].end_time_1 %><br><%= seadata[i].start_time_2 %> - <%= seadata[i].end_time_2 %></td>
        <% } else if (seadata[i].start_time_1) { %>
        <td><%= seadata[i].start_time_1 %> - <%= seadata[i].end_time_1 %>
        <% } else { %>
        <td>All Day</td>
        <% } %>
        <td><%= seadata[i].price %></td>
      </tr>
      <% } %>
    </table>
  </div>
</body>
</html>
